
  <h1>EVENTS</h1>
  <button (click)="down()" type="button" class="btn btn-light a3"><i class="bi bi-arrow-down-circle">Download</i></button>
  <div *ngIf="testbutton">
    <div  class="spinner-border text-light a4" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
  <div class="a2"> 

    <div>
        <img src="https://images.unsplash.com/photo-1624313976899-0fd4989a2fcd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"class="a1">
    </div>
</div>
<p>Add Your Events</p>
<button (click)="button()" type="button" class="btn btn-light a5">Start</button>